// COLORS
$dark-primary-color: #ffa000;
$light-primary-color: #ffecb3;
$primary-color: #ffc107;
$text-icons: #212121;
$accent-color: #00bcd4;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
// FONTS
